body
{
    background-image: url("../img/stardust.png");
}

h1
{
    font-size: 40px;
    color: white;

}

h2
{
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #525564;
    padding-left: 5px;
    padding-top: 3px;
}

hr{
  color: white;
  width: 75%;

}

li a
{
  color: white;
padding-left: 45%;
font-size: 20px;
}


div img
{
    width: 350px;
    height: 350px;
    float: right;
    padding: 10px;

}



.contenido
{
    font-size: 18px;
    background-color: #C25B56;
    color: white;
}

.comodin
{
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #525564;
    border-left: 3px solid #525564;
    border-right: 3px solid #525564;
    overflow: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}

strong{
   font-style:italic;
}

em{

    font-weight:bold;
}
