/*
 * Colores obtenidos de:
 *    http://www.colorcombos.com/color-schemes/7625/ColorCombo7625.html
 *
 */
/***************************/
/** Reglas para etiquetas **/
/***************************/
html
{
  background-image: url("../img/stardust.png");
  background-position: center center;
}

body
{

  position: static;
  width: 70%;
  margin: 0 auto;
}

img
{
  padding-left: 20px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

h1
{
  color: white;
}

li a
{
  color: white;
  font-size: 20px;
}


.elaborado
{
  color: white;
  float: right;
}


/*
-----------------------------------------------------------------
*/
strong{
   font-style:italic;
}

em{

    font-weight:bold;
}
